body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 50px;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: inherit;
}

p,
img {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}
